body .dark-mode {
    /* background-color: #f36b3a; */
	background-color:#292626;
	color: white
}

body .light-mode {
    /* background-color: #f36b3a; */
	background-color: cornsilk;
	color: black
}

.navbar {
	border-radius: 12px;
}
.main-container {
	max-width: -webkit-fill-available;
	height: 100vh;
}

.bookity-app {
    margin-top: 5%;
}

.dark-mode .auth-container {
	background-color: darkslategrey;
}

.light-mode .auth-container {
	background-color: #7ab6b8;
}

.auth-container {
    display: grid;
    box-sizing: border-box;
    margin: auto;
    width: fit-content;

    padding: 10px; 
}

.bookity-logo {
    color: #333;
    height: 50px;
    width: 50px;
}

.justify-content-end {
	right: 55px;
}

.search-form{
    width: 100%;
}
.search-form-content{
    padding: 1.4rem 2.8rem;
    border-radius: 3.8rem;
}
.search-form-content .form-control{
    font-size: 2rem;
    padding: 0.6rem;
}
.search-form-content .form-control::placeholder{
    opacity: 0.9;
}

.dark-mode .books-section {
    background-color: darkslategray;
    color: white;
}

.light-mode .books-section {
    background-color: #7ab6b8;
    color: black;
}

.books-section {
    padding: 1.5rem 0;
    border-radius: 12px;
}

/* .books-content{
	grid-template-columns: repeat(2, 1fr);
	padding: 0.5rem;
	gap: 3rem;
} */